:root {
    --primary-color: #E8D4B9;
    --secondary-color: #E4CDAE;
    --primary-text-color: #271D16;
    --secondary-text-color: #3F3329;
}

body {
    /* position: fixed; */
    height: 100vh;
    background-image: url('/src/images/paper.jpg');
    background-size: 100vw 100vh;
    margin: 0 auto;
    width: 90%;
    font-family: 'Noticia Text', serif;
    font-size: 1rem;
}
    


ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.1rem;
    list-style: none;
    border-radius: 20px;
    min-height: 20px; 
    
    
   }
     


a{
   text-decoration: none;
   color: black;
}
 
a:hover{
    color: orange;
    
}

nav{
    border-radius: 200px;
    background-color: #c2baaa;
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
    box-shadow: 5px 5px 15px 5px #000000;
}

.logo{
    mix-blend-mode: multiply;
}

.logotitle{
    display: flex;
    align-items: center;
    justify-content: center;
}

ul:hover{
    min-height: 55px; 
    transition: min-height 0.3s ease-in-out;
}

@media screen and (max-width: 600px) { 
    .logo { 
     height: 50px;}
     .navEffect {
        display: none
      }
        
        } 
      
    
        
     
    
    

    
  

     
  

        
        
.hamburger-menu{
    display: none;
    

}    
   
   
@media screen and (max-width: 600px) { 

    .hamburger-menu{
        display: flex;
        
}


}
.burger{
    width: 50px;
    height: 50px;
    display: block;
    border: none;
    padding: 0px;
    margin: 20px;
    background: linear-gradient(
      to bottom, 
      #3D0E61, #3D0E61 20%, 
      white 20%, white 40%, 
      #3D0E61 40%, #3D0E61 60%, 
      white 60%, white 80%, 
      #3D0E61 80%, #3D0E61 100%
    );
}

  
@media screen and (min-width: 480px) {

.parent {
    display: grid;
    padding: 15px;
    height: fit-content;
    width: auto;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

h2 {
    text-align: center;
}

.div1 {
    background-color: none;
    grid-area: 1 / 5 / 6 / 6;
    text-align: justify;
}

#elon {
    width: 200px;
    height: 150px;
    text-align: center;
}

.div2 {
    background-color: none;
    grid-area: 1 / 1 / 6 / 2;
    text-align: justify;
}

#wcs {
    width: 150px;
    height: 150px;
}


.div3 {
    grid-area: 1 / 2 / 3 / 5;
    font-size: 1rem;
}

img {
    width: 650px;
    height: 300px;
}

.main-title {
    text-align: center;
    font-size: 40px;
    padding: 10px;
    text-transform: uppercase;
}

.main-area {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    text-align: justify;
    grid-template-areas:
          "main-picture     main-picture    second-text-one     second-article"
          "main-text-one    main-text-two   second-text-one     second-article";
    border-top: #3F3329 1px solid;
}

.main-area > div {
    padding: 8px;
}

.main-area p {
    margin: 0;
}
   
.main-area .main-picture { 
    grid-area: main-picture;
}
.main-area .main-text-one { 
    grid-area: main-text-one; 
}
.main-area .main-text-two { 
    grid-area: main-text-two; 
}
.main-area .second-text-one { 
    grid-area: second-text-one; 
}
.main-area .second-text-two { 
    grid-area: second-text-two; 
}
.main-area .second-article { 
    grid-area: second-article;
    height: 200px;
}

.main-picture img {
    width:100%;
    height: auto;
    vertical-align: middle;
    margin-bottom: 10px;
}

.second-article img {
    width: 100%;
    height: auto;
}

.article {
    padding-top: 20px;
    border-top: #3F3329 1px solid;
}

.main-area h1 {
    margin: 0;
}

.div4 {

}
}