:root {
    --primary-color: #E8D4B9;
    --secondary-color: #E4CDAE;
    --primary-text-color: #271D16;
    --secondary-text-color: #3F3329;
}

body {
    /* position: fixed; */
    height: 100vh;
    background-image: url('/src/images/paper.jpg');
    background-size: 100vw 100vh;
    margin: 0 auto;
    width: 90%;
}

.parent {
    display: grid;
    padding: 15px;
    height: fit-content;
    width: auto;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.div1 {
    background-color: #3F3329;
    grid-area: 1 / 5 / 6 / 6;
}

.div2 {
    background-color: #3F3329;
    grid-area: 1 / 1 / 6 / 2;
}

.div3 {
    grid-area: 1 / 2 / 3 / 5;
}


img {
    width: 650px;
    height: 300px;
}

.main-title {
    text-align: center;
    font-size: 40px;
    padding: 10px;
    text-transform: uppercase;
}

.main-area {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    text-align: justify;
    grid-template-areas:
          "main-picture     main-picture    second-text-one     second-article"
          "main-text-one    main-text-two   second-text-one     second-article";
    border-top: #3F3329 1px solid;
}

.main-area > div {
    padding: 8px;
    font-size: 12px;
}

.main-area p {
    margin: 0;
}
   
.main-area .main-picture { 
    grid-area: main-picture;
}
.main-area .main-text-one { 
    grid-area: main-text-one; 
}
.main-area .main-text-two { 
    grid-area: main-text-two; 
}
.main-area .second-text-one { 
    grid-area: second-text-one; 
}
.main-area .second-text-two { 
    grid-area: second-text-two; 
}
.main-area .second-article { 
    grid-area: second-article;
    height: 200px;
}

.main-picture img {
    width:100%;
    height: auto;
    vertical-align: middle;
    margin-bottom: 10px;
}

.second-article img {
    width: 100%;
    height: auto;
}

.article {
    padding-top: 20px;
    border-top: #3F3329 1px solid;
}

.main-area h1 {
    margin: 0;
}