:root {
    --primary-color: #E8D4B9;
    --secondary-color: #E4CDAE;
    --primary-text-color: #271D16;
    --secondary-text-color: #3F3329;
}

body {
    /* position: fixed; */
    height: 100vh;
    background-image: url('/src/images/paper.jpg');
    background-size: 100vw 100vh;
    margin: 0 auto;
    width: 90%;
}